*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin-left: 100px;
}

.fieldset{
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
}

.label{
    font-weight: bold;
}

.input{
    display: block;
}

.button{
    margin-top: 10px;
}